# Core Libraries
python-dotenv==1.0.1  # For reading environment variables stored in .env file
langchain==0.0.12  # Adjust version as needed based on your usage
langchain_community==0.0.12  # Adjust version as needed based on your usage
langchain_openai==0.0.12  # Adjust version as needed based on your usage
openai==0.27.0  # Ensure compatibility with your OpenAI version

# Additional Libraries
# onnxruntime==1.17.1  # Optional: install via `conda` if needed
# For Windows users, install Microsoft Visual C++ Build Tools first
# install onnxruntime before installing `chromadb`
chromadb==0.5.0  # Vector storage
tiktoken==0.7.0  # For embeddings

# install markdown dependencies with: `pip install "unstructured[md]"` after installing the requirements file
unstructured==0.14.4  # Document loading
